<section class="banner">
    <h2>Welcome to CSE Motors</h2>
    <div class="bannerContent">
        
            <h2>
                2023 McLaren Artura
            </h2>
            <ul>
                <li>engineV12, 60°, MPI (Multi Point Injection)</li>
                <li>displacement6,498 cm³ (396.5 cu in)</li>
                <li>bore x stroke95 mm x 76,4 mm (3.74 x 3.01 in)</li>
                <li>compression ratio11,8:1.</li>
            </ul>
       
        <button>Own Today</button>
       
    </div>

</section>

<section id="upgrades">
    <div class="details">
        <h2>McLaren Artura Upgrades</h2>
        <div class="upgradesImages">
            <div>
                <img src="./images/upgrades/v12engine.jpg" alt="v12 engine">
                <p>V12 Engine</p>
            </div>
            <div>
                <img src="./images/upgrades/turbo.jpg" alt="v12 engine">
                <p>Turbo</p>
            </div>
            <div>
                <img src="./images/upgrades/leather.jpg" alt="v12 engine">
                <p>Leather Interior</p>
            </div>
            <div>
                <img src="./images/upgrades/wheel.jpg" alt="v12 engine">
                <p>High Tech Wheels</p>
            </div>
        </div>
    </div>
    <div class="reviews">
        <h2>McLaren Artura Review</h2>
        <ul>
            <li>"So fast it's almost like traveling in time" (4/5)</li>
            <li>"Coolest ride on the road." (5/5)</li>
            <li>"I feel the speed." (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
        </ul>
    </div>
</section>
