<section class="banner">
    <h2>Welcome to CSE Motors</h2>
    <div class="bannerContent">
       
            <h2>
                2023 McLaren Artura
            </h2>
            <ul>
                <li>engineV12, 60°, MPI (Multi Point Injection)</li>
                <li>displacement6,498 cm³ (396.5 cu in)</li>
                <li>bore x stroke95 mm x 76,4 mm (3.74 x 3.01 in)</li>
                <li>compression ratio11,8:1.</li>
            </ul>
       
        <button>Own Today</button>
    </div>
</section>