/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  padding: 0;
}
nav ul li a {
  display: block;
  height: 100%;
  padding: 20px;
  color: white;
}
nav ul li {
  list-style: none;
  
  font-weight: bold;
  color: white;
}
nav ul li a:visited {
  color: white;
}

nav ul li:hover {
  background-color: red;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.banner {
  height: 60vh;
  max-width: 1200px;

  background-image: url('../images/vehicles/mclaren.jpg');
  background-size:cover;


}
.details {
  max-width: 100%;
}
.car_display {
  display: flex;
  gap:30px;
}
.car_display div {
  border: 1px solid black;
  padding: 20px;

}
.car_display {
  flex-direction: column;
}
.car_display h2 {
  margin-bottom: 30px;
}
.car_display p {
  font-size: 20px;
  margin: 20px 0px;
}
#upgrades {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 60px;
  margin-top: 30px;
}
.details {
  grid-row: 2/3;
}
nav li {
  font-size: 12px;
}
#wrapper {
  padding: 5px;
}
.siteName a{
  font-size: 30px;
  color: red;
  font-weight: bolder;
}
#tools a{
  color: black;
}
.banner h2 {
  font-size: 30px;
}
.banner button {
  background-color: rgb(179, 0, 0);
  color: white;
  border: none;
  padding: 10px;
  display: block;
  cursor: pointer;
  margin: 10px auto;
}
.banner h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;

}
.bannerContent {
 padding: 30px;
 background-color: rgba(0, 0, 0, 0.678);
 width: 400px;
 color: white  ;
  margin: 0 auto;
 
}
main h1 {
  margin: 40px 0px;
}
#inv-display {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding-inline-start: 0;
}
#inv-display a {
  color: black;
}
#inv-display li {
  border: 1px solid black;
  padding: 10px;
  max-width: 220px;
}
#inv-display li img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}
.car_display img {
  max-width: 500px;
  height: 400px;
  object-fit: contain;
}
.bannerContent h2 {
  text-align: left;
  font-size: 20px;
}
.upgradesImages div img {
  width: 150px;
}
.upgradesImages {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.reviews ul {
  margin-top: 20px;
}
footer {
  margin: 60px auto;
  padding: 10px;
}
.error {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: fit-content;
  padding: 30px;
  margin: 20px auto;
}
form label {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form input, textarea, select {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}


input:required:invalid, input:focus:invalid, textarea:required:invalid {
  background-color: rgb(255, 174, 174);
 }
 input:required:valid, textarea:required:valid {
  background-color: rgb(191, 255, 191);
 }
button {
  padding: 10px;
  color: white;
  border: none;
  background-color: black;
  cursor: pointer;
}
.container_mng {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn_mng {
  padding: 10px;
  color: white;
  border: none;
  background-color: black;
  cursor: pointer;
  width: fit-content;
}
li {
  list-style: none;

}
.errors li {
  background-color: #ffe2e2;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  padding: 5px;
  width: fit-content;
  text-align: left;
  font-size: 10px;
  margin-bottom:10px;

}

@media screen and (min-width:840px) {
  #wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav ul {
    flex-direction: row;
  }
  .details {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .reviews {
    grid-column: 2/3;
  }
  
  
  #upgrades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
   
    text-align: center;
  }
  #upgrades h2 {
    margin-bottom: 30px;
  }
  #upgrades li {
    text-align: left;
  }
  
  .upgradesImages div img {
    width: 200px ;
  }
  
  
  footer {
    max-width: 1200px;
    
  }
  .car_display {
    flex-direction: row;
  }
  
}