<!-- The content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <div class="container_mng">
      <a class="btn_mng" href="/inv/add-classification">Add New Classification</a> <br>
      <a class="btn_mng"  href="/inv/add-inventory">Add New Vehicle</a>
    </div>
    <% } else {
      res.redirect('/')
    } %>

<%# messages() %>

